@using RockRecord.Helper
@model RockRecord.Models.Album

<div class="list-item albumList-item">
    <div class="list-item-left">
        @Html.AlbumCover(Model.Id, 160, new { @class = "list-img" })
    </div>
    <div class="list-item-right">
        <div>
            @Html.AlbumTitle(Model)
        </div>
        <div>
            @Html.DisplayFor(model => Model.Rating)
            <span class="label">(@(Model.Reviews.Count))</span>
        </div>

        <div>
            <span class="label">@Html.DisplayNameFor(modelItem => modelItem.PublicDate):</span>
            @if (Model.PublicDate.HasValue)
            {
                @Model.PublicDate.Value.ToString("yyyy/MM/dd")
            }
            else
            {
                @:-
                }
        </div>
        <div>
            <span class="label">@Html.DisplayNameFor(model=>model.Price):</span>
            <span class="price">@Html.DisplayFor(model=>model.Price)</span>
        </div>
    </div>
</div>
