@using RockRecord.Models
@using RockRecord.Helper
@model RockRecord.Models.ViewModel.NavigaterViewModel
@Styles.Render("~/Content/Navigater.css")
<script type="text/javascript">
    $(function(){
        $('#genre-dropdownMenu')
            .hover(function () {
                       if ($('#genre-dropdownMenu .subMenu').css('display') == 'none') {
                           $('#genre-dropdownMenu .subMenu').fadeIn('fast');
                       }
                 },function(){$('#genre-dropdownMenu .subMenu').fadeOut('fast'); }
             );
    })
</script>
<nav id="navBar">

        <div id="searchBar">
            @using (Html.BeginForm("Index", "Search", new { searchType = "All" }, FormMethod.Post, new { id = "searchBar-form" }))
            {
                <input id="searchText" name="keyWord" type="text" />
                <input id="searchButton" type="submit" value="搜尋" />
            }
        </div>
        <div id="loginbar">
            @Html.ImageLink("Index", "Home", "/Content/rockrecord-small.png", null, new { @class = "navItem" })
            <ul id="genre-dropdownMenu" class="navItem">
                <li>
                    <a href="#">唱片分類</a>
                </li>
                <li class="subMenu" style="display:none">
                    @Html.Action("GenreMenu","Genre")
                </li>
            </ul>
            @if (User.Identity.IsAuthenticated)
            {
                @:|@Html.ActionLink("會員專區", "MyAccount", "Member", null, new { @class = "navItem" })
                if(Model.Member.Role==Role.Administrator){
                    @:| 
                    @Html.ActionLink("後台管理","Index","Manage", null, new { @class = "navItem" })
                }
                @:| @Html.ActionLink("登出", "Logout", "Member", null, new { @class = "navItem" })
            }
            else
            {
                @:| @Html.ActionLink("登入", "Login", "Member", null, new { @class = "navItem" })
                @:| @Html.ActionLink("註冊", "Register", "Member", null, new { @class = "navItem" })
            }
            |
            @{
                string cartLinkText="購物車";
                if (Session["CartItems"]!=null && 
                    (Session["CartItems"] as List<CartItem>).Count() > 0)
                {
                     var cartItems = Session["CartItems"] as List<CartItem>;
                     int totlaAmount = 0;
                     cartItems.ForEach(item => totlaAmount += item.Amount);
                     cartLinkText += "(" + totlaAmount + ")";
                }
                @Html.ActionLink(cartLinkText, "Index", "Cart", null, new { id = "cartLink", @class = "navItem" })

            }
            
        </div>
</nav>
