@using PagedList
@using PagedList.Mvc
@using RockRecord.Models.ViewModel
@model IEnumerable<RockRecord.Models.Album>

@{
    ViewBag.Title = "唱片管理";
}

@section header{
     <style type="text/css">
        #manage-albumList-title {
            width: 25%;
        }
        #manage-albumList-artist {
            width: 15%;
        }
        #manage-albumList-genre {
            width: 10%;
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $('.manage-delete').each(function () {
                $(this).ajaxDialog('/Album/Delete/' + $(this).closest('tr').attr('data-albumId'),
                                   null,
                                   function (respone, state, xhr) {
                                       location.href = location.href;
                                   },
                                   '確定要刪除該唱片?');
            });

            
        });
    </script>
}

@if(TempData["createdId"]!=null)
{
    <div class="success">
        唱片
        @(Html.ActionLink(TempData["createdName"].ToString(),"Detail","Album",new{id=TempData["createdId"].ToString()},null))
        已成功被新增

    </div>
}
else if (TempData["deletedName"]!=null)
{
    <div class="success">
        唱片@(TempData["deletedName"].ToString())已成功被刪除
    </div>
}

<h2 class="headerTitle">唱片管理</h2>
<div class="hasMenuContent">
    <div class="menu">
        @Html.Partial("ManageMenu")
    </div>
    <div class="content">
        <div>
            @Html.ActionLink("建立新唱片", "Create", "Album", null, new { @class = "important-button create-button" })
        </div>
        <div class="display-block">
            @Html.Action("AlbumSortSelect","Album", Request.RequestContext.RouteData.Values)
            @Html.Action("AlbumGenreFilter","Album",Request.RequestContext.RouteData.Values)
            @using (Html.BeginForm("Album", "Manage", FormMethod.Get, new { style = "display:inline-block" }))
            {

                string keyWord = Request.QueryString["keyWord"] != null ?
                                 Request.QueryString["keyWord"].ToString() :
                                 "";
        
                <span class="label">搜尋:</span><input name="keyWord" type="text" value="@keyWord" />
                <input type="submit" value="搜尋" />
    }
        </div>

        <table id="manage-albumList" class="normaltable display-block">
            <tr>
                <th id="manage-albumList-title">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th id="manage-albumList-artist">
                    @Html.DisplayNameFor(model => model.Artist)
                </th>
                <th id="manage-albumList-genre">
                    @Html.DisplayNameFor(model => model.Genre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PublicDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr data-albumId="@item.Id">
                    <td>
                        @Html.ActionLink(item.Name, "Detail", "Album", new { id = item.Id }, null)
                    </td>
                    <td>
                        @Html.ActionLink(item.Artist.Name, "Detail", "Artist", new { id = item.ArtistId }, null)
                    </td>
                    <td>
                        @Html.ActionLink(item.Genre.Name, "Genre","Album", new { id = item.GenreId },null)
                    </td>
                    <td>
                        @if (item.PublicDate == null)
                        {
                            @:-
            }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.PublicDate)
            }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.ActionLink("編輯", "Edit", "Album", new { id = item.Id }, null) <br />
                        @Html.ActionLink("刪除", "Delete", "Album", new { id = item.Id }, new { @class = "manage-delete" })
                    </td>
                </tr>
}

        </table>

      @Html.Partial("Pager",(IPagedList)Model)

    </div>
</div>

@Html.Partial("Dialog")