@using PagedList
@using PagedList.Mvc
@model IEnumerable<RockRecord.Models.Genre>
@{
    ViewBag.Title = "曲風管理";
}

@section header{
    <script type="text/javascript">
        $(function () {
            $('.manage-delete').each(function () {
                $(this).ajaxDialog('/Genre/Delete/' + $(this).closest('li').attr('data-genreId'),
                                   null,
                                   function (respone, state, xhr) {
                                       location.href = location.href;
                                   },
                                   '確定要刪除該曲風?');
            });

            
        });
    </script>
}

@if(TempData["createdId"]!=null)
{
    <div class="success">
        曲風
        @(Html.ActionLink(TempData["createdName"].ToString(),"Genre","Album",new{id=TempData["createdId"].ToString()},null))
        已成功被新增

    </div>
}
else if (TempData["deletedName"]!=null)
{
    <div class="success">
        曲風@(TempData["deletedName"].ToString())已成功被刪除
    </div>
}
<h2>曲風管理</h2>
<div class="hasMenuContent">
    <div class="menu">
        @Html.Partial("ManageMenu")
    </div>
    <div class="content">
        <div>
            @Html.ActionLink("建立新曲風", "Create", "Genre", null, new { @class = "important-button create-button" })
        </div>
        <div class="display-block">
            @using (Html.BeginForm("Genre", "Manage", FormMethod.Get, new { style = "display:inline-block" }))
            {

                string keyWord = Request.QueryString["keyWord"] != null ?
                                 Request.QueryString["keyWord"].ToString() :
                                 "";
        
                <span class="label">搜尋:</span><input name="keyWord" type="text" value="@keyWord" />
                <input type="submit" value="搜尋" />
           }
        </div>
        <ul class="manageList display-block">
            @foreach (var item in Model)
            {
                <li data-genreId="@item.Id">
                    <div class="manageList-title">
                        @Html.ActionLink(item.Name,"Genre","Album",new{id=item.Id},null)
                    </div>
                    <div class="manageList-button">
                        @Html.ActionLink("編輯", "Edit", "Genre", new { id = item.Id }, null) |
                        @Html.ActionLink("刪除", "Delete", "Genre", new { id = item.Id }, new { @class = "manage-delete" })
                    </div>
                </li>
            }

        </ul>
     @Html.Partial("Pager",(IPagedList)Model)
    </div>
</div>

@Html.Partial("Dialog")