@using RockRecord.Helper
@model RockRecord.Models.Review

<div class="reviewDetail">
    @Html.AlbumCover(Model.Album.Id, 300, new { @class = "review-albumCover albumCover-large" })
    <div>
        <span>
            @Html.ActionLink(Model.Album.Name, "Detail", "Album", new { id = Model.Album.Id }, new { @class = "albumList-title" })
        </span>
        by
         <span>
             @Html.ActionLink(Model.Album.Artist.Name, "Index", "Artist", new { id = Model.Album.Artist.Id }, null)

         </span>
    </div>
    @Html.DisplayFor(model => model.Rating)
    <p>
        @Model.Comment
    </p>
</div>
