@using PagedList;
@using PagedList.Mvc;
@using RockRecord.Helper
@model IPagedList<RockRecord.Models.Review>
@if(Model.Count>0){
<div class="commentList">
        @foreach (var review in Model)
        {
            <div  class="list-item commentList-item">
                <div class="commentList-item-left">
                   @Html.UserPhoto(review.Member.Id,75)
                </div>
                <div class="commentList-item-right">
                    <div class="commentList-item-header">
                        <div class="commentList-item-header-left">
                            <div>
                                @Html.ActionLink(review.Member.Name, "Index", "Member", new { id = review.Member.Id }, null)
                                <span>發表於@(Html.DisplayFor(model=>review.ReviewDate))</span>
                            </div>
                            @Html.DisplayFor(model => review.Rating)
                        </div>
                    </div>

                    <p>
                        @review.Comment
                    </p>
                </div>
            </div>
    }
</div>
    @Html.Partial("Pager",Model)
}
else{
    <p class="notContent">此唱片沒有任何評論</p>
}
