@using RockRecord.Helper;
@using PagedList;
@using PagedList.Mvc;
@model RockRecord.Models.ViewModel.AlbumDetailViewModel
@{
    ViewBag.Title =Model.Album.Name;
}
@section header{
    @Styles.Render("~/Content/AlbumDetail.css")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/jquery.itemSlider.js")
    <script type="text/javascript">
        $(function () {
            $('.review-delete-button')
                .ajaxDialog(
                    '@Url.Action("Delete","Review")',
                    function () { return 'id=' + $(this).attr('data-reviewId'); },
                    function (response, state, xhr) {
                        location.href=location.href;
                    },
                    '確定要移除對該唱片的評論?'
             );

            $('.album-delete-button')
                .ajaxDialog(
                    '@Url.Action("Delete","Album")',
                    function () { return 'id=' + $(this).attr('data-albumId'); },
                    function (response, state, xhr) {
                        location.href = response.redirectUrl;
                    },
                    '確定要刪除該唱片?'
             );

            $(function () {
                $('.itemSlider').itemSlider();
            })

        });

    </script>

}


<div id="albumDetail-layout">
    @if(Model.isAdminustrator)
    {
        <div id="albumDetail-editHeader">
            @Html.ActionLink("編輯","Edit",new{id=Model.Album.Id})
            @Html.ActionLink("刪除","Delete",new{id=Model.Album.Id},new{@class="album-delete-button",data_albumId=Model.Album.Id})
        </div>
    }
    <div>
        @Html.ActionLink("回到曲風" + Model.Album.Genre.Name + "的唱片清單", "Albums","Genre", new { id = Model.Album.Genre.Id }, null)
    </div>
    <div id="albumDetail" class="albumDetail-block">
        <div class="left">
          @Html.AlbumCover(Model.Album.Id, 300, new { @class = "albumCover-large" })
        </div>
        <div class="right">
            <div id="albumDetail-title">
                @Html.DisplayFor(model => model.Album.Name)
            </div>
            <div class="display-field">
                @Html.ActionLink(Model.Album.Artist.Name, "Albums", "Artist", new { id = Model.Album.Artist.Id }, null)
            </div>
            <div class="display-field">
                <span class="label">平均評價:</span>
                @Html.DisplayFor(model => model.Album.Rating)<span class="label">(@Model.Album.Reviews.Count())</span>
            </div>

            <div class="display-field">
                <span class="label">@Html.DisplayNameFor(model => model.Album.PublicDate):</span>
                @if (Model.Album.PublicDate.HasValue)
                {
                    @Html.DisplayFor(model => model.Album.PublicDate)
                }
                else
                {
                    @:-
                }
            </div>
            <div class="display-field">
                <span class="label">@Html.DisplayNameFor(model => model.Album.Genre):</span>
                @Html.ActionLink(Model.Album.Genre.Name,"Albums","Genre",new{id=Model.Album.Genre.Id},null)
            </div>
            <div class="display-field">
                @if (Model.LoginUserReview == null)
                {
                    @Html.ActionLink("我要評論此唱片", "Create", "Review", new { id = Model.Album.Id }, null)
                }
                else
                {
                    <span class="label">您的評價:</span>@Html.DisplayFor(model => model.LoginUserReview.Rating, "Rating_Small")
                    @Html.ActionLink("(更改)", "Edit", "Review", new { id = Model.LoginUserReview.Id }, null)
                    @Html.ActionLink("(移除)", "Delete", "Review",
                    new { id = Model.LoginUserReview.Id }, 
                    new {@class="review-delete-button", data_reviewId= Model.LoginUserReview.Id })
                }
            </div>
            <div class="display-field">
                <span class="price">
                    @Html.DisplayNameFor(model=>model.Album.Price)
                    :
                    @Html.DisplayFor(model => model.Album.Price)
                </span>
            </div>
            <div class="display-field">
                @if(Model.Album.Stock>0){
                    using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                    {
                        @Html.Hidden("albumId", Model.Album.Id)
                        <button id="cart-add-button" class="important-button" type="submit">加入購物車</button>
                    }
                }else{
                    <span class="warning">此商品已經銷售一空</span>
                }
            </div>
        </div>
    </div>

    <h3>唱片簡介</h3>
    <div class="albumDetail-block">
        @if (String.IsNullOrEmpty(Model.Album.Description))
        {
            <p class="notContent">
                沒有任何唱片簡介
            </p>
        }
        else{
        <div id="albumDetail-Description">
            @Html.Raw(Model.Album.Description)
        </div>
        }
    </div>

    <h3>歌曲</h3>
    <div class="albumDetail-block">

     
        @{
            var songs = Model.Album.Songs.ToList();
        }
        <table id="albumDetail-song-list" class="normaltable">
            <thead>
                <tr>
                    <th>編號
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => songs[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => songs[0].Length)
                    </th>
                </tr>
            </thead>
            <tbody>

                @for (int i = 0; i < songs.Count; i++)
                {
                    <tr class="normaltable-row">
                        <td>@(i + 1)</td>
                        <td>@songs[i].Name</td>
                        <td>@RockRecordHelper.secondToMinite(songs[i].Length)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
   <h3>買了這張唱片的人也買了這些唱片</h3>
   <div id="albumDetail-recommandation" class="albumDetail-block">
       @Html.Action("RecommandationItems",new{albumId=Model.Album.Id})
   </div>

    <h3>唱片評論</h3>
    <div id="albumDetail-reviews" class="albumDetail-block">
        @Html.Action("ReviewList","Review",Request.RequestContext.RouteData.Values)
    </div>
</div>

@Html.Partial("Dialog")
