<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/Content/rockrocrd.ico" rel="SHORTCUT ICON">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Styles.Render("~/Content/RockRecord.css")
    @Styles.Render("~/Content/PagedList.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-ui-1.9.2.js");
    @Scripts.Render("~/Scripts/rockrecord-site.js")
    @RenderSection("header",false)
</head>
<body>
    @Html.Action("Navigater","Shared")

    <div class="main">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
