<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/Content/rockrecord.ico" rel="SHORTCUT ICON">
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/jquery-ui.css")
    @Styles.Render("~/Content/RockRecord.css")
    @Styles.Render("~/Content/PagedList.css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-ui-1.9.2.js");
    @Scripts.Render("~/Scripts/rockrecord-site.js")
    <script type="text/javascript" src="~/Scripts/angular.min.js"></script>
    <script type="text/javascript" src="~/Scripts/angular-resource.min.js"></script>
    <script type="text/javascript" src="~/Scripts/app/common/service.js"></script>
    @RenderSection("header",false)
</head>
<body id="ng-app" data-ng-app="front">
    @Html.Action("Navigater", "Shared")

    <div class="main">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
