@model RockRecord.Models.Review

@{
    ViewBag.Title = "評論"+Model.Album.Name;
}



@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    var albumId=Request.RequestContext.RouteData.Values["id"]. ToString();
        @Html.Hidden("albumId",albumId)
        @Html.ActionLink("回到唱片" + ViewData["AlbumTitle"].ToString() + "的頁面", "Detail", 
        "Album", new { id = albumId },null)

    <h2>評價唱片@(ViewData["AlbumTitle"].ToString())</h2>
    @Html.Partial("ReviewEditorTemplate",Model)
    <div class="display-block">
        <input type="submit" value="發表評論" />
    </div>

}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
