@model RockRecord.Models.Review

@{
    ViewBag.Title = "評論"+Model.Album.Name;
}




@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
   
    
    @Html.Hidden("Id",Request.RequestContext.RouteData.Values["id"]. ToString())
    @Html.ActionLink("回到唱片" + Model.Album.Name + "的頁面", "Detail", "Album", new { id = Model.Album.Id },null)
    <h2>評價唱片@(Model.Album.Name)</h2>
    @Html.Partial("ReviewEditorTemplate",Model)
         <div class="display-block">
            <input type="submit" value="更改評論" />
        </div>

}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
