@using RockRecord.Helper;
@model RockRecord.Models.Member
@{
    ViewBag.Title = "編輯個人檔案";
}
@section header{
    @Styles.Render("/Content/MemberEdit.css")
}
 <h2 class="headerTitle">更新個人檔案</h2>
<div class="hasMenuContent">
    <div class="menu">
        @Html.Partial("AccountMenu")
    </div>
    <div class="content">
        @using (Html.BeginForm("Edit","Member",FormMethod.Post,new{enctype="multipart/form-data"})) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.Id)
     <div id="profile-edit" class="editor">
        <div class="editor-field profile-edit-photo">
            <div class="profile-edit-photo-left">
                @Html.UserPhoto(Model.Id,75)

            </div>
            <div class="profile-edit-photo-right">
                <p>上傳您的個人照片</p>
                <input id="photoFile" name="photoFile" type="file" />
                 @Html.ValidationMessage("photoFile")
            </div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>


        <div class="editor-label">
            @Html.LabelFor(model => model.Biography)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Biography)
            @Html.ValidationMessageFor(model => model.Biography)
        </div>
        
        <div>
            <input type="submit" value="更新" />
        </div>

     </div>
}
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
