@model RockRecord.Models.Member

@{
    ViewBag.Title = "會員註冊";
}
<div class="account-form">
    <h2>會員註冊</h2>
    <img src="/Content/rockrocrd-middle.png" />
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)


        <h3>請輸入會員註冊資訊</h3>
        <div class="editor">
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(model => model.Email, new { data_val_email = "請輸入Email地址" })<br />
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)<br />
                @Html.ValidationMessageFor(model => model.Password)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.ConfirmPassword)<br />
                @Html.ValidationMessageFor(model => model.ConfirmPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Name)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Name)<br />
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>
        <div class="display-block">
            <input type="submit" value="註冊" class="important-button" />
        </div>
    }
</div>


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
