@model RockRecord.Models.Artist

@{
    ViewBag.Title = "編輯藝術家";
}
@if (TempData["success"] != null)
{
    <div class="success">藝術家更新成功</div>
}
<div>
    @Html.ActionLink("回到藝術家管理", "Artist","Manage")
</div>
<h2>
    更改藝術家資料
</h2>

@using (Html.BeginForm("Edit", "Artist", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    @Html.Partial("ArtistEditorTemplate",Model)
    @Html.HiddenFor(model=>model.Id)

    <input type="submit" value="確定更改" class="singal-button" />


}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
