@model RockRecord.Models.Genre



@{
    ViewBag.Title = "建立曲風";
}
<div>
    @Html.ActionLink("回到曲風管理", "Genre","Manage")
</div>
<h2>建立新曲曲風</h2>
@using(Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.Partial("GenreEditorTemplate",Model)
    <input type="submit" value="建立" class="singal-button" />
}


@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
